.search-field {
  width: 300px; /* Adjust the width as needed */
  margin-right: 16px; /* Adjust margin as needed */
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-button-wrapper {
  display: none;
}

.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button
  .mat-icon {
  margin: auto !important;
  display: none !important;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container > input {
  outline: none;
  border: none;
  padding: 8px;
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}