<div class="container">
  <div
    class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="300"
    [infiniteScrollUpDistance]="0.5"
    (scrolled)="onScroll()"
  >
    <h1>List of All Users</h1>
    <div class="cards-container">

      <mat-card *ngFor="let user of users" class="example-card" (click)="goToUser(user.id)">
        <mat-card-header class="header-container">
          <div mat-card-avatar class="example-header-image">
            <img
              [src]="user.avatar"
              alt="{{ user.first_name }} Avatar"
              class="user-avatar"
            />
          </div>
          <mat-card-title class="header-name"
            >{{ user.first_name }} {{ user.last_name }}</mat-card-title
          >
          <mat-card-subtitle class="header-name">{{ user.email }}</mat-card-subtitle>
        </mat-card-header>

        <img
          [src]="user.avatar"
          alt="{{ user.first_name }} Avatar"
          class="user-image"
        />

        <button>View Profile</button>
      </mat-card>
    </div>
  </div>
</div>
