<div class="container">
  <div
    class="search-results"
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="300"
    [infiniteScrollUpDistance]="0.5"
    (scrolled)="onScroll()"
  >
    <div class="cards-container">
      <!-- <mat-card class="example-card">
        <mat-card-content>All User Lists</mat-card-content>
      </mat-card> -->

      <mat-card *ngFor="let user of users" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img
              [src]="user.avatar"
              alt="{{ user.first_name }} Avatar"
              class="user-avatar"
            />
          </div>
          <mat-card-title
            >{{ user.first_name }} {{ user.last_name }}</mat-card-title
          >
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="user.avatar"
          alt="{{ user.first_name }} Avatar"
          class="user-image"
        />
        <mat-card-actions>
          <button mat-button (click)="goToUser(user.id)">View Profile</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
