.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* height: 100vh; */
}

.cards-container {
  display: flex;
  flex-direction: column; /* Display cards vertically */
  align-items: center; /* Center cards horizontally */
}

.example-card {
  width: 100%; /* Set cards width to 100% */
  max-width: 400px;
  margin: 10px;
}

.example-header-image {
  width: 64px; /* Increase the width of the avatar image */
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-image {
  width: 100%; /* Set image width to 100% */
  height: auto;
}
